<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Vincent Jacob</title>

    <link rel="apple-touch-icon" sizes="180x180" href="<%= require('./favicon/apple-touch-icon.png') %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= require('./favicon/favicon-32x32.png') %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= require('./favicon/favicon-16x16.png') %>">
    <link rel="manifest" href="<%= require('./favicon/site.webmanifest') %>">
    <link rel="mask-icon" href="<%= require('./favicon/safari-pinned-tab.svg') %>" color="#000000">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

  </head>
  <body>
    <div class="parallax background" id="Scroller">
      <div class="sm-top">
        <a href="https://open.spotify.com/artist/76J0EcOPlEjvsu2UkjgNNM?si=szVS0NmVR227k-WvW4Y1CA"
          class="social-media" target="_blank" rel="noopener noreferrer"
        >
          <img src="<%= require('./images/spotify.png') %>">
        </a>
        <a href="https://instagram.com/vincentjacobmusic" target="_blank" rel="noopener noreferrer" class="social-media">
          <img src="<%= require('./images/instagram.png') %>">
        </a>
      </div>
      <div class="parallax-layer pl-base flex-row spacer">
        <img src="<%= require('./images/vincent-jacob.png') %>" id="txtName" class="pl-object load-hidden slideup">
      </div>
      <div class="spacer"></div>
      <div class="parallax-layer pl-back">
        <img src="<%= require('./images/promise-me.png') %>" id="txtPromiseMe" class="pl-object">
      </div>
      <div class="spacer"></div>
      <div class="parallax-layer pl-base flex-row">
        <iframe src="https://www.youtube.com/embed/lPCv6IB-4lA"
          width="560" height="315" title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
          class="pl-object" id="vidPromiseMe"
        ></iframe>
      </div>
      <div class="spacer"></div>
      <div class="parallax-layer pl-base flex-row">
        <img src="<%= require('./images/remember.jpeg') %>" id="imgRemember" class="pl-object">
      </div>
      <div class="spacer"></div>
      <div class="parallax-layer pl-back">
        <img src="<%= require('./images/dreamy.jpg') %>" id="imgDreamy" class="pl-object">
      </div>
      <div class="parallax-layer pl-base">
        <img src="<%= require('./images/carry-you.png') %>" id="txtCarryYou" class="pl-object">
      </div>
      <div class="spacer"></div>
      <div class="parallax-layer pl-back">
        <img src="<%= require('./images/wwwb-sketch.png') %>" id="txtWwwbSketch" class="pl-object">
      </div>
      <div class="spacer"></div>
      <div class="parallax-layer pl-base">
        <img src="<%= require('./images/house.jpg') %>" id="imgHouse" class="pl-object">
      </div>
      <div class="spacer"></div>
      <div class="parallax-layer pl-base">
        <img src="<%= require('./images/lighthouse.jpg') %>" id="imgLighthouse" class="pl-object">
      </div>
      <div class="spacer"></div>
      <div class="parallax-layer pl-back">
        <img src="<%= require('./images/fading.jpg') %>" id="imgPath" class="pl-object">
      </div>
      <div class="parallax-layer pl-base">
        <img src="<%= require('./images/i-dont-know.png') %>" id="txtIDontKnow" class="pl-object">
      </div>
      <div class="spacer"></div>
      <div class="spacer"></div>
      <div class="parallax-layer pl-back">
        <img src="<%= require('./images/profile.jpeg') %>" id="imgProfile" class="pl-object">
      </div>
      <div class="spacer min-height"></div>
      <div id="Footer">
        <img src="<%= require('./images/vincent-jacob.png') %>">
        <!-- <a href="https://open.spotify.com/artist/76J0EcOPlEjvsu2UkjgNNM?si=szVS0NmVR227k-WvW4Y1CA"
          class="social-media" target="_blank" rel="noopener noreferrer"
        >
          <img src="<%= require('./images/spotify.png') %>">
        </a>
        <a href="https://instagram.com/vincentjacobmusic" target="_blank" rel="noopener noreferrer" class="social-media">
          <img src="<%= require('./images/instagram.png') %>">
        </a>
      </div> -->
      <div class="spacer foot small-collapse"></div>
    </div>
  </body>
</html>
